@import '../../styles/variables';

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .main-card {
        max-width: $desktop-width;
        .main-heading-container {
            margin: 1.5rem 0;
        }
    }
}