<div id="main-container">
    <app-card class="main-card">
        <img class="card-image profile-picture" src="assets/images/headshot.jpg" alt="Profile picture">
        <div class="card-content">
            <div class="main-heading-container">
                <span class="heading-1">Justin Cheong</span>
                <span class="heading-4">UI Engineer at Cority with a passion for development in modern web technologies and weightlifting enthusiast</span>
            </div>
        </div>
    </app-card>
</div>

<hr>
<div class="grid">
<div class="card"></div>
<div class="card"></div>
<div class="card"></div>
<div class="card"></div>
<div class="card"></div>
<div class="card"></div>
<div class="card"></div>
<div class="card"></div>
<div class="card"></div>
<div class="card"></div>
<div class="card"></div>
<div class="card"></div>
<div class="card"></div>
<div class="card"></div>
<div class="card"></div>
<div class="card"></div>
<div class="card"></div>
<div class="card"></div>
</div>