@import '../../../styles/variables';

#main-container {
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 5rem 0;

    .main-card {
        min-height: calc(100vh - 10rem);
        .profile-picture {
            display: block;
            max-width: 240px;
            border-radius: 50%;
            margin: 0 auto;
            margin-top: 2rem;
        }
        .main-heading-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 1.5rem;

            .main-subtitle {
                margin-top: 0.5rem;
            }
        }
        .main-body-content {
            margin-top: 1rem;
        }
    }
}
