<div class="content-container">
    <info-card numberofpanels="3">
        <span slot="title-0">
            Career
        </span>
        <span slot="body-0">
            I started as a Jr. Frontend Developer at small startup company then moved to Cority and have been
            working there for almost 2 years. There are two applications I mainly work on, one thats an old .NET
            application and the other is an Angular application. My time is mainly spent fixing UI issues and developing
            components for the software engineering teams to implement when developing their stories. With the older
            application, the technologies that
            I am working with are mainly jQuery and CSS. Working on the Angular application, I spend my time working
            with SCSS, RxJS, Typescript, and NgRx(Redux).

            When I am developing on my own time, I am interested in building Angular Elements (Web Components) because I
            can see there is a need for web components that are not platform or framework specific.
        </span>
        <span slot="title-1">
            Hobbies
        </span>
        <span slot="body-1">
            I enjoy working out in my freetime. My favorite sport is weightlifting and when I am not programming that is
            what I spend a large portion of my time doing. I also enjoy going to Crossfit at my local gym with my
            girlfriend.

            Aside from that I enjoy taking care of my old dog Odi.
        </span>
        <span slot="title-2">
            Info About This Site
        </span>
        <span slot="body-2">
            Recently I have been interested in learning more about <strong>neumorphic application designs</strong>. This application is
            my first implementation that I have been experimenting with.<br/><br/>

            This site showcases also showcases two Angular Elements that I have have created:
            <ul>
                <li>
                    The <strong>Info Card component</strong> used here in the 'About Me' section
                </li>
                <li>
                    The <strong>Email Component</strong> used in the 'Contact Me' section
                </li>
            </ul>
        </span>
    </info-card>
</div>