$desktop-width: 768px;
$mobile-width: 500px;

// Colors
$primary-color: #363636;
$light-shadow: #3e3e3e;
$dark-shadow: #2e2e2e;

// Typography
$light-grey: rgba(0, 0, 0, 0.5);
$med-grey: rgba(0, 0, 0, 0.67);

//Spacing
$padding-sm: 1rem;
$padding-md: 2rem;
$padding-lg: 3rem;

// Buttons
$button-icon-size: 24px;