$desktop-width: 768px;
$mobile-width: 500px;

// Colors
$primary-color: #c6eaff;
$light-shadow: #e4ffff;
$dark-shadow: #a8c7d9;

// Typography
$light-grey: rgba(0, 0, 0, 0.5);
$med-grey: rgba(0, 0, 0, 0.67);

//Spacing
$padding-sm: 1rem;
$padding-md: 2rem;
$padding-lg: 3rem;

// Buttons
$button-icon-size: 24px;