@import './styles/variables';
@import './styles/typography';
@import './styles/material-override';

html,
body {
	height: 100%;
}
body {
	margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

info-card {
	.info-card {
		background-color: $primary-color !important;
		box-shadow: 12px 12px 24px 0 $dark-shadow, -12px -12px 24px 0 $light-shadow;	
	}
}
